<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Goals</title>
</head>
<body>
  <h1>All Goals</h1>
  <form action="/goals/search" method="GET">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="minTarAmount">Minimum amount</label>
      <input type="number" id="minTarAmount" name="minTarAmount">
      
      <label for="maxTarAmount">Maximum amount</label>
      <input type="number" id="maxTarAmount" name="maxTarAmount">

      <label for="minProgress">Minimum progress</label>
      <input type="number" id="minProgress" name="minProgress">

      <label for="maxProgress">Maximum progress</label>
      <input type="number" id="maxProgress" name="maxProgress">

      <button type="submit">Search</button>
  </form>

  <ul>
    <% goals.forEach(goal => { %>
       <li>
      <strong><%= goal.name %></strong> - Target: $<%= goal.targetAmount %> - Deadline: <%= goal.deadline.toISOString().split('T')[0] %> - Progress: <%= goal.progress %>%
       <a href="/goals/<%= goal._id %>/edit">Edit</a>
      <form action="/goals/<%= goal._id %>/delete" method="POST" style="display:inline;">
       <button type="submit" onclick="return confirm('Are you sure you want to delete this transaction?')">Delete</button>
      </form>
    </li>
    <% }) %>
  </ul>
  <a href="/goals/new">Create New Goal</a>
  <a href="/dashboard">Back to dashboard</a>
</body>
</html>
